{% extends 'base.html' %}
{% block content %}

<h2>Detail Page</h2>

<a href="/tunes/{{ tune.id }}">
  <div class="card">
    <div class="card-content">
      <span class="card-title">Name {{ tune.name }}</span>
      <p>Key: {{ tune.key }}</p>
      <p>Fiddler: {{ tune.fiddler }}</p>
      <p>Notes: {{ tune.description }}</p>

    </div>
  </div>
  <div class="card-action">
    <a href="{% url 'tunes_update' tune.id %}">Edit</a>
    <a href="{% url 'tunes_delete' tune.id %}">Delete</a>
  </div>
</a>


{% endblock %}