* {
    font-family: Arial, Helvetica, sans-serif
}


body {
    background-color: rgb(146, 146, 234);
    margin: 0 auto;
}

h2 {
    text-align: center;
}


/* NAV BAR */
#nav-bar {
    display: flex;
    gap: 5vmin;
    padding-top: 5vmin;
    width: 100%;
    justify-content: center;
}

#nav-bar > a {
    text-decoration: none;
    color: white;
    font-size: 4vmin;
    padding: 1vmin;
}

#nav-bar > hover {
    color: rgb(162, 159, 159);
    cursor: pointer;
}

/* BASE */

.container {
    width: 90vmin;
    background-color: rgb(146, 146, 234);
    margin: 0 auto;
}



/* ABOUT */

/* ADD A TUNE */
#containerForm > form > table{
    width: 10vmin;
}

#tableForm {
    display: flex;
    flex-direction: column;
    gap: .5vmin;
    /* background-color: red; */
    width: 100%;
}


/* INDEX */

#keyChange {
    margin-top: 7vmin;
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    justify-content: space-between;
}

#keyChange > * {
    display: inline-flex;
}
a:link {
    text-decoration: none;
}

.card {
    background-color: lightslategray;
    border: 1px solid black;
    border-radius: 5px;
    padding: 1vmin;
    margin-bottom: 1vmin;
    text-decoration: none;
}

.card-content > * {
    text-decoration: none;
    color: rgb(32, 31, 31);
    font-size: 5vmin;
}

.card-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1vmin;
}

.card-content > * {
    padding: 0;
    margin: 0;
}

.card-title {
    color: black;
}

/* SHOW/ DETAIL PAGE */


a:link {
    text-decoration: none;
}

.card-detail {
    background-color: lightslategray;
    border: 1px solid black;
    border-radius: 5px;
    padding: 1vmin;
    margin-bottom: 1vmin;
    text-decoration: none;
}

.card-content-detail > * {
    text-decoration: none;
    color: rgb(32, 31, 31);
    font-size: 5vmin;
}

.card-content-detail {
    display: flex;
    flex-direction: column;
    padding: 1vmin;
    gap: 2vmin;
}

.card-content-detail > * {
    padding: 0;
    margin: 0;
}

.card-title-detail {
    color: black;
}